body {
    font-family: Monospace, Courier;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: rgb(255, 255, 255) url('images/bg.png') no-repeat center top 0px fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: rgb(0, 0, 0);
    padding: 0.01rem 0;
    text-align: center;
}

nav {
    background: #333;
    color: white;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    background: rgba(244, 244, 244, 0.8); /* Reduced transparency with rgba */
    color: #333;
    text-align: center;
    padding: 0.1rem 0;
    margin-top: auto;
    width: 100%; /* Reduced width */
    margin: 2rem auto 0; /* Centered the footer with margin adjustments */
    border-radius: 10px; /* Optional: Add rounded corners for aesthetics */
}
